@{
    ViewBag.Title = "WhatIsMyInstanceID";
}
   

    <h2>WhatIsMyInstanceID</h2>
    It is:  @Model.InstanceID at @this.ViewData["MyTime"]

    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
        @Html.ActionLink("Display this", "Index", "Home")
    </p>
 
